.popup_is-opened {
  display: flex;
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  /* When opening, make the visibility change immediate with no delay */
  transition: visibility 0s, opacity 0.6s;
}
